<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The predictor</title>
</head>
<body>
    <h2>Welcome to 'The Predictor' !</h2>
    <h3>To predict an image you should follow the instructions:</h3>
    <div>1. open <b>Postman</b></div>
    <div>2. send a http request
        <ul>
            <li><b>type:</b> POST</li>
            <li><b>url:</b> http://193.106.55.179:8888/isReceipt</li>
            <li><b>body:</b> add new row
                <ul>
                    <li> <b>key</b>: convert the input from 'Text' to 'File' and write the word 'photo'</li>
                    <li> <b>value</b>: upload your image which you want to predict</li>
                </ul>
            </li>
        </ul>
    </div>
    <div>3. Click <b>Send</b></div>
</body>
</html>